*{
  font-family: monospace;
}



body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  background-image: url('pexels-drew-rae-580685.jpg');
  background-size: cover;
  background-position: center center;
  font-size: 120%;
} 

.weather{
  padding: 15px;
}
.card{
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;

}

.search{
  display: flex;
  align-items: center;
  justify-content: center;

}


button{
  margin: 20x;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  height: 2.5em;
  outline: none;
  background: #7c7c7c6b;
  cursor: pointer;
  transition: 0.25 ease-in-out;
  color: white  ;
}


input.search-bar{
  height: 25px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  background: #7c7c7c2b;
  color: white;
  font-size: 120%; 
  width: calc(100% - 100px);
  box-shadow: none;
  outline: none;
}


button:hover{
  background: #7c7c7c6b;
}

h1.temp{
  margin: 0;
  margin-bottom: 0.4em;
}



.flex{
  display: flex;
  align-items: center;
}

.description{
  text-transform: capitalize;
  margin-left: 8px;
}


.weather.loading{
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading::after{
   visibility: visible;
   content: "loading...";
   color: antiquewhite;
   position: absolute;
   top: 0;
   left: 20px;
}

